<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Sistema de Recomendacion Electoral Presidencial 2018</title>
    <meta name="author" content="Japo">
    <meta name="description" content="Sistema de Recomendacion Presidencial 2018">
    <meta name="keywords" content="perdicion,meVoyDelPais,Corrupcion,vendidos,fraude">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="./static/css/main.css" type="text/css">
    <link rel="stylesheet" href="./static/css/c3.css" type="text/css">
    <!-- Scripts -->
    <script src="./static/js/libs/d3.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="./static/js/libs/c3.js"></script>
</head>

<body>
    <div class="body-wrapper">
        <div id="chart"></div>
        <div id="chart2"></div>
        <!-- Start News Feed Section -->
        <div class="newsfeed" id="newsfeed">
            <div class="content-wrapper">
                <div class="content">


                    <div class="news-wrapper">

                        <div class="newsfeed-content">
                            <div class="news-text">

                                <h2>{{theData.users}}</h2>
                                <p>{{shcolarshipAvg}}</p>
                                <p>{{estrato2}}</p>
                                <p>{{ageAvg}}</p>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <p id="male" data-value="{{theData.male}}"></p>
    <p id="female" data-value="{{theData.female}}"></p>
</body>



<script>
    var chart = c3.generate({
        bindto: '#chart', data: {
            columns: [
                ['Hombres', document.getElementById("male").getAttribute('data-value')],
                ['Mujeres', document.getElementById("female").getAttribute('data-value')],
            ],
            type: 'bar'
        },
        bar: {
            width: {
                ratio: 0.5 // this makes bar width 50% of length between ticks
            }
            // or
            //width: 100 // this makes bar width 100px
        }
    });
    var chart2 = c3.generate({
        bindto: '#chart2', data: {// iris data from R
            columns: [
                ['Hombres', document.getElementById("male").getAttribute('data-value')],
                ['Mujeres', document.getElementById("female").getAttribute('data-value')],
            ],
            type: 'pie',
            onclick: function (d, i) { console.log("onclick", d, i); },
            onmouseover: function (d, i) { console.log("onmouseover", d, i); },
            onmouseout: function (d, i) { console.log("onmouseout", d, i); }
        }
    });
</script>

</html>